#pricingTable()
	.price.col-sm-3
		.top TOP 1
		.mid MID
		.bot BOT
	.price.col-sm-3
		.top TOP 2
		.mid MID
		.bot BOT
	.price.col-sm-3
		.top TOP 3
		.mid MID
		.bot BOT
	.price.col-sm-3
		.top TOP 4
		.mid MID
		.bot BOT
