#header
	//- link(link rel="stylesheet" type="text/css" href="/s/bootstrap-min.css")

#pricingTable()
	.price.col-sm-3
		.top TOP 1
		.mid MID
		.bot BOT
	.price.col-sm-3
		.top TOP 2
		.mid MID
		.bot BOT
	.price.col-sm-3
		.top TOP 3
		.mid MID
		.bot BOT
	.price.col-sm-3
		.top TOP 4
		.mid MID
		.bot BOT

#footer
	script(type="text/javascript" src="/s/jquery-v1-11-2-min.js")
	//- script(type="text/javascript" src="/s/bootstrap-min.js")
	script(type="text/javascript" src="/s/pricingTable.js")